// variables
@import './variables.scss';


* {
    box-sizing: border-box;
    font-family: $font_family_default;
}

html, body {
    height: 100%;
    
    margin: 0;
    padding: 0;
}

// components
.page-container {
    padding-top: $navigation_height + 15px;
}